[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
numpy = "*"
opencv-python-headless = "*"
opencv-contrib-python-headless = "*"

[dev-packages]

[requires]
python_version = "3.9"
